<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fooddy Test Index Page</title>
    <link rel="stylesheet" href="mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css" />
<link rel="stylesheet" href="/static/style.css?q=1280549784"
   type="text/css" media="screen" charset="utf-8" />
    <script src="angular.min.js">
    </script>
    <script src="angular-route.min.js">
    </script>
    <script src="mobile-angular-ui/dist/js/mobile-angular-ui.min.js">
    </script>
</head>
<body>
<div class="main">
  <h3>Welcome to Fooddy!</h3>

      </br> Click on Recommend Me to get a list of restaurants based on your profile and location.

  <form action="listview.html">
    <input type="submit" value="Recommend Me!">
  </form>

  <form action="login.html">
    <input type="submit" value="Log In">
  </form>

  <form action="profile.html">
    <input type="submit" value="User Profile">
  </form>
</div>

</body>
</html>