<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fooddy Home</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>


<!-- page 1-->
<div data-role="page" id="page1">

    <div data-role="header">
        <div data-role="navbar"><ul><li><a href="/">Home</a></li></ul></div>
    </div><!-- /header -->

    <center>
        <h1>Welcome to Fooddy!</h1>
        <h3>Your Food Buddy</h3>
    </center>
    <a href="/login.html" rel="external" class="ui-btn">Login</a> <!--return to login page-->
    <a href="/profile.html" rel="external" class="ui-btn">Categories</a> <!--return to listview page-->
    <a href="/recme_temp" rel="external" class="ui-btn">[draft]Restaurants</a> <!--return to listview page-->


</div>


</body>
</html>