<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fooddy Log-out</title>

    <!--favicon-->
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!--jQueryMobile scripts-->
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"> <!-- to work with portrait mode-->
</head>
<body>
<!-- page 1-->
<div data-role="page" id="logout_page">

    <div data-role="header" style="overflow:hidden;" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="/"><img src="../static/assets/logo.png" height="50px"/></a></li>
            </ul>
        </div><!--/navbar-->
        <h1>You have logged out.</h1>
    </div><!--/header-->

    <center><h1>Please come back soon!</h1>
        <br/>
        <img src="../static/assets/fooddy_mascot.png" width="30%"/>

    </center>

    <div data-role="footer" data-position="fixed">
        <center>Fooddy 2016</center>
    </div><!--/footer-->
</div><!--/logout_page-->
</body>
</html>