<!DOCTYPE html>
<html>
<head>
    <title>Fooddy Categories</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="profile_page">

    <div data-role="header">
        <div data-role="navbar"><ul><li><a href="/">Home</a></li></ul></div>
    </div><!-- /header -->
        <fieldset data-role="controlgroup">
            <!-- changing code to a single form to submit -->
            <form id="category_question" action="{{ url_for('upload') }}" method="POST">
                {% for category_name,liked in category_names %}
                <label>
                     {%  if liked == True %}
                        <input type="checkbox" value="{{ category_name }}" name="checkbox" checked> {{ category_name }}
                     {% else %}
                         <!-- category is not liked -->
                        <input type="checkbox" value="{{ category_name }}" name="checkbox"> {{ category_name }}
                     {% endif %}
                </label>
                {% endfor %}
               <input type="submit" value="Submit!">
            </form>
        </fieldset>
</div><!--/end profile_page-->
</body>
</html>
