<!DOCTYPE html>
<html>
<head>
    <title>Fooddy Categories</title>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" id="profile_page">

    <div data-role="header" style="overflow:hidden;" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="/"><img src="../static/assets/fooddy_logo.png" height="50px"/></a></li>
            </ul>
        </div><!--/navbar-->
        <center>Tell me what you like!</center>
    </div><!--/header-->

<form>
  <input type="text" data-type="search" id="filterable-input">
</form>
        <!--<fieldset data-role="controlgroup" data-filter="true">-->
            <!-- changing code to a single form to submit -->
    <form id="category_question" action="{{ url_for('upload') }}" method="POST"
          data-role="controlgroup" data-filter="true" data-input="#filterable-input">
        {% for category_name,liked in category_names %}
        
             {%  if liked == True %}
                <input type="checkbox" id="{{ category_name }}" name="checkbox" value="{{ category_name }}" checked />
             {% else %}
                 <!-- category is not liked -->
                <input type="checkbox" id="{{ category_name }}" name="checkbox" value="{{ category_name }}"/>
             {% endif %}
            <label for="{{ category_name }}">{{ category_name }}</label>
        {% endfor %}
        <input type="submit" value="Submit!" />
    </form>

        <!--</fieldset>-->

    <div data-role="footer" data-position="fixed">
        <center>Categories from <img src="../static/assets/yelp/yelp-logo-small.png" />.</center>
    </div><!--/footer-->

</div><!--/end profile_page-->
</body>
</html>
