<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reccomendations</title>

    <!--favicon-->
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!--jQueryMobile scripts-->
    <link rel="stylesheet" href="../static/themes/black-fooddy.min.css"/>
    <link rel="stylesheet" href="../static/themes/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"><!-- to work with portrait mode-->
</head>

<body>
<div data-role="page" id="rec_page">
    <!--LOCATION PANEL, must be first or last in rec_page div-->
    <div data-role="panel" id="location_panel" data-display="overlay" data-position="right">
        <div data-role="header" id="location_panel_header">
            {#            <h1>Location Settings</h1>#}
            {#            <a href="#" data-icon="delete" class="ui-btn-left ui-btn-icon-notext">Close_button</a>#}
            <div data-role="navbar" data-iconpos="left">
                <ul>
                    <li><a href="#" data-rel="close" data-icon="delete">Location Settings</a></li>
                </ul>
            </div>
        </div>
        <!--CURRENT LOCATION-->
        <button onclick="getLocation()">Use my current location</button>

        <script>
            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                document.getElementById("current_location_latitude").value = position.coords.latitude;
                document.getElementById("current_location_longitude").value = position.coords.longitude;
            }
        </script>


        <!-- this will display a message to user saying that we will be using
            their location for our recommendations-->
        <form id="login_form" action="{{ url_for('recommended') }}" method="POST">
            <input name="current_location_latitude" id="current_location_latitude" value="default_lat"/>
            <input name="current_location_longitude" id="current_location_longitude" value="default_long"/>
            <input type="submit" name="confirm_current_loc" id="confirm_current_loc" value="OK" class="ui-btn-inline"/>
        </form>

        <!--CALENDAR LOCATION-->
        <!--TODO: add calendar location from dolly-->
        <button onclick="getNextEventLocation('next_event_location')">Use my next event</button>
        <div id="next_event_location" style="display:none;">
            {{ next_location }} <br/>
            {#            <button id="confirm_next_location" class="ui-btn ui-btn-inline ui-corner-all">Confirm</button>#}
        </div>
        <script>
            function getNextEventLocation(target) {
                document.getElementById(target).style.display = 'block';
            }
        </script>
        <!--MANUAL LOCATION-->
        <!--TODO: grab this data to backend & pass to yelp query-->
        <button onclick="openAddressForm('address_form')">Manually enter location</button>
        <div id="address_form" style="display:none;">
            <label for="textinput-hide" class="ui-hidden-accessible">Address Line 1</label>
            <input type="text" name="textinput-hide" id="addressline1" placeholder="Address Line 1" value="">

            <label for="textinput-hide" class="ui-hidden-accessible">Address Line 2</label>
            <input type="text" name="textinput-hide" id="addressline2" placeholder="Address Line 2" value="">

            <label for="textinput-hide" class="ui-hidden-accessible">City</label>
            <input type="text" name="textinput-hide" id="addresscity" placeholder="City" value="">

            <label for="textinput-hide" class="ui-hidden-accessible">State</label>
            <input type="text" name="textinput-hide" id="addressstate" placeholder="State" value="">

            <label for="textinput-hide" class="ui-hidden-accessible">State</label>
            <input type="text" name="textinput-hide" id="addresscountry" placeholder="Country" value="">

            <input type="submit" name="submit_location" value="OK" class="ui-mini"/>
        </div><!--/addressform-->
        <script>
            function openAddressForm(target) {
                document.getElementById(target).style.display = 'block';
            }
        </script>


    </div><!-- /location_panel -->

    <div data-role="header" data-position="fixed" style="padding-top:2px; padding-bottom:0px;">
        <a href="/" data-icon="home" class="ui-btn-left ui-btn-inline ui-mini">Home</a>
        <h1><img src="../static/assets/logo.png" height="50px"/><br/>
            recommends...</h1>
             <a href="#location_panel" data-icon="location" class="ui-btn-right ui-btn-inline ui-mini">Location</a>
    </div>


    <ul data-role="listview">
        {% for yelp_data in list_results %}
            <li><a href="restaurant/{{ yelp_data.restaurant_info['id'] }}">{{ yelp_data.restaurant_info['name'] }}</a>
            </li>
        {% endfor %}
    </ul>

    <div data-role="footer" data-position="fixed">
        <center>Restaurant information from <img src="../static/assets/yelp/yelp-logo-small.png"/></center>
    </div>

</div> <!--/end rec_page-->
</body>

</html>
