<!DOCTYPE html>
<html lang="en">
<head>
    <title>Fooddy says: {{ business['name'] }}</title>
    <meta charset="utf-8">
    <!--favicon-->
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!--jQueryMobile scripts-->
    <link rel="stylesheet" href="../static/themes/black-fooddy.min.css"/>
    <link rel="stylesheet" href="../static/themes/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"><!-- to work with portrait mode-->
    <style>
        #map {
            height: 100%;
        }
    </style>
</head>
<body>
<!-- page 1-->
<div data-role="page" id="restaurant_page">

    <div data-role="header" style="overflow:hidden;" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="/"><img src="../static/assets/logo.png" height="50px"/></a></li>
            </ul>
        </div><!--/navbar-->
        <center>Did you just find the one?!</center>
    </div><!--/header-->

    <div class="ui-grid-a">
        <div class="ui-block-a" style="width:30%;">
            <center><img src="{{ business['image_url'] }}"/></center>
        </div>
        <div class="ui-block-b" style="width:70%">
            <center>
                <div class="ui-grid-solo">
                    <div class="ui-block-a"><h2>{{ business['name'] }}</h2></div>
                    <div class="ui-block-a">
                        <img src="{{ business['rating_img_url_large'] }}"/><br/>
                    </div>
                </div>
                <div class="ui-grid-solo">
                    <div class="ui-block-a">
                        <em>Address</em>
                        {% for a in business['location']['display_address'] %}
                            {{ a }}<br/>
                        {% endfor %}
{#                        {% output_list = [] %}#}

{#                        <p>{{ output_list }}</p>#}

                    </div>
                </div>
            </center>
            <div class="ui-grid-solo">
                <div class="ui-block-a">
                    <center><em>Phone:</em> {{ business['display_phone'] }}</center>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-grid-solo">
        <div class="ui-block-a">
            <form id="my_rating">
                <center><label for="my_rating_slider"><strong>Eaten here before? Rate it!</strong></label></center>
                <input type="range" name="my_rating_slider" id="my_rating_slider"
                       min="0" max="5" step="0.5" value="1" data-highlight="true"/>
                    {% for i in business['categories'] %}
                        <input type="hidden" value={{ i[0] }} name={{ i[0] }} id="{{ i[0] }}" />
                    {% endfor %}

                <input type="submit" id="submit_my_rating" name="submit_my_rating" value="Confirm my rating!"/>

            </form>
        </div>
    </div>

    {#            {{ business['location']['coordinate'] }}#}
    {#    <button>Show me on the map!</button>#}

    <center>
        <iframe
                width="500"
                height="250"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBsuMLW414ecSZmIQ3KQ_mg4EXp4Cw8fmM
        &q={{ business.location.coordinate.latitude }},{{ business.location.coordinate.longitude }}" allowfullscreen>
        </iframe>
    </center>


    <!-- TODO: Make prettier, yelp stuff on footer -->
    <div data-role="footer" data-position="fixed">
        <div class="ui-grid-a">
            <div class="ui-block-a">
    <!--            <img src="{{ business['rating_img_url_large'] }}"/><br/>
             </div>
              -->
            <div class="ui-block-b">
                <center><a href="{{ business['mobile_url'] }}"><img
                        src="../static/assets/yelp/yelp_review_btn_light@2x.png" style="height:30px;"/></a>
                </center>
            </div>
        </div>
        <center># yelp reviews: ({{ business['review_count'] }})</center>

    </div>


</div> <!--/end restaurant_page-->


</body>
</html>