<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<!-- page 1-->
<div data-role="page" id="restaurant_page">

    <div data-role="header" style="overflow:hidden;" data-position="fixed">
        <div data-role="navbar">
            <ul>
                <li><a href="/"><img src="../static/assets/fooddy_logo.png" height="50px"/></a></li>
            </ul>
        </div><!--/navbar-->
        <center>Did you just find the one?!</center>
    </div><!--/header-->



    <div class="ui-body ui-corner-all">Hey! You want to eat at {{ business['name'] }}?</div>
    <div class="ui-body ui-corner-all">Address: <br/>{{ business['location']['display_address'] }}</div>
    <div class="ui-body ui-corner-all">Phone:<br/>{{ business['phone'] }}</div>

    <div data-role="footer" data-position="fixed">
        <center>Restaurant information from <img src="../static/assets/yelp/yelp-logo-small.png" /></center>
    </div>

</div> <!--/end restaurant_page-->


</body>
</html>