<!DOCTYPE html>
<html lang="en">
<head>
    <title>Visited</title>

    <!--favicon-->
    <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>

    <!--jQueryMobile scripts-->
    <link rel="stylesheet" href="../static/themes/black-fooddy.min.css"/>
    <link rel="stylesheet" href="../static/themes/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css"/>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1"><!-- to work with portrait mode-->
</head>

<body>
<div id="rec_page">


    <ul data-role="listview">
        {% if len(list_results) > 0%}
            {% for yelp_data in list_results %}
                <li><a href="restaurant/{{ yelp_data.restaurant_info['id'] }}">{{ yelp_data.restaurant_info['name'] }}</a>
                </li>
            {% endfor %}
        {% elif %}

        {% endif %}
    </ul>

    <div data-role="footer" data-position="fixed">
        <center>Restaurant information from <img src="../static/assets/yelp/yelp-logo-small.png"/></center>
    </div>

</div> <!--/end rec_page-->
</body>

</html>
